# Flask
FLASK_ENV=development
FLASK_SECRET_KEY=your-secret-key-here

# Webapp Database
WEBAPP_DB_HOST=100.92.130.116
WEBAPP_DB_PORT=5432
WEBAPP_DB_NAME=webapp_db
WEBAPP_DB_USER=webuser
WEBAPP_DB_PASSWORD=webuser

# PostgreSQL Database
POSTGRES_DB_HOST=100.92.130.116
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=postgres
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=postgres

# Pumaz Database
PUMAZ_DB_HOST=77.37.54.109
PUMAZ_DB_PORT=5432
PUMAZ_DB_NAME=pumazdb
PUMAZ_DB_USER=read1
PUMAZ_DB_PASSWORD=readpass
