#trafficChart {
    width: 100% !important;
    height: 350px !important;
}

.chart-container {
    position: relative;
    height: 350px;
    width: 100%;
}


/* spacing biar rapi */
.row {
    margin-top: 10px;
}

.card-modern {
    height: 100%;
}